function formatCount(count){
    var counter = parseInt(count)
    if(counter > 100000000){
        return (counter / 100000000).toFixed(1) + '亿'
    }else if(counter > 10000){
        return (counter / 10000).toFixed(1) + '万'
    }else{
        return counter + ''
    }
}

// 往分和秒前面添加零
function padLeftZero(time){
    // 先转为字符串 -> 数字加字符串等于字符串
    time = time + ''
    // 12 -> 0012 -> 12 ; 5 -> 005 -> 05
    return ('00' + time).slice(time.length) //slice(number):截取的起始位置,保留截取后的数字
}

// 毫秒转为 分:秒
function formatDuration(duration){
    duration = duration / 1000
    // 100 / 60 = 1.66 ->floor向下取整
    var minute = Math.floor(duration / 60)
    // 100 % 60 = 6666666... 
    var second = Math.floor(duration) % 60
    return padLeftZero(minute) + ':' + padLeftZero(second)
}

// 导出：
module.exports = {
    formatCount : formatCount,
    formatDuration : formatDuration
}